#map {
    width:100%;
    height: 94vh;
    margin-top: 0;
    padding: 0;
}
#mainFeature .row{
    margin: 0;
    padding: 0;
}
.checked {
    color: orange;
}

@media (min-width: 576px) {
    #listContainer {
        height: 94vh;
        overflow:scroll;
    }
}